.stadium-form-wrapper {
	display: flex;
	flex-direction: column;
}

.stadium-form-header {
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 200;
	padding-top: 1%;
}

.form {
	display: flex;
	justify-content: center;
}

.stadium-form-input {
	width: 40%;
	font-size: 26px;
	padding-left: 2%;
	color: var(--random-color);
}

.form-group {
	margin: 2% 0;
	text-align: center;
}

.btn-submit {
	color: var(--main-color);
	border: none;
	padding: 15px 20px;
	border-radius: 15px;
	margin: 10px;
	cursor: pointer;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	background-color: var(--text-color);
	border: 2px solid var(--main-color);
	align-items: flex-end;
}

.btn-submit:hover {
	color: var(--text-color);
	background-color: white;
}

.error {
	color: var(--danger-color);
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.form-group textarea {
	resize: none;
}

.form-group-image {
	display: flex;
	justify-content: center;
}

.upload-image-input {
	width: 1%;
	visibility: hidden;
}

.upload-image-field {
	font-size: 20px;
	width: 28%;
	text-align: center;
}

@media screen and (max-width: 1000px) {
	.stadium-form-input {
		width: 50%;
	}
}

@media screen and (max-width: 800px) {
	.stadium-form-input {
		width: 70%;
	}
}

@media screen and (max-width: 600px) {
	.stadium-form-input {
		width: 90%;
	}

	.form-group-image {
		display: flex;
		align-items: center;
	}
	
	.upload-image-input {
		width: 1%;
		visibility: hidden;
	}
	
	.upload-image-field {
		font-size: 20px;
		width: 98%;
		text-align: center;
	}

}